In [1]:
import pandas as pd
import json

In [14]:
f = open('data.json')
dd = json.load(f)

In [26]:
data = []
for i in dd.keys():
    try:
        temp_d = dict()
        temp_d['title'] = dd[i]['title']
        temp_d['submittedDate'] = dd[i]['submittedDate']
        temp_d['created'] = dd[i]['created']
        temp_d['subjectCategories'] = dd[i]['subjectCategories']
        # if 'abstract' in dd[i]:
        temp_d['abstract'] = dd[i]['abstract']
        temp_d['id'] = i
        # else:
        #     temp_d['abstract'] = None
        seq =0
        if 'authorAffiliations' in dd[i]:
            for author_info in dd[i]['authorAffiliations']:
                temp_d['author'+str(seq)] = author_info['meta']['author']['name']
                seq +=1
        data.append(temp_d)
    except:
        pass

In [28]:
data_df = pd.DataFrame(data)[['id','title','submittedDate','created','subjectCategories'
                            ,'abstract','author0','author1']]

data_df['submittedDate'] = pd.to_datetime(data_df['submittedDate'])
data_df['created'] = pd.to_datetime(data_df['created'])
data_df.head(2)

,id,title,submittedDate,created,subjectCategories,abstract,author0,author1
0,19930091025,Annual Report of the National Advisory Committ...,2013-09-06 18:26:00+00:00,2013-09-06 18:26:00+00:00,[Administration and Management],Report includes the National Advisory Committe...,NaN,NaN
1,19930091050,Aeronautic Power Plant Investigations,2013-09-06 18:26:00+00:00,2013-09-06 18:26:00+00:00,[Aeronautics (General)],"Report presents the design of radiators, spark...","Dickinson, H C",NaN

In [31]:
data_df.to_csv('final_nasa_data.csv')